configuration {
 modi: "window,drun,power-menu,combi";
 font: "FiraCodeNerdFontMono 14";
 combi-modi: "window,drun,power-menu";
 drun-display-format: "{name} [<span weight='light' size='small'><i>({exec})</i></span>]";
 }
@theme "catppuccin"
