configuration {
 modi: "notes,drun,window,power,apps,combi";
 font: "FiraCodeNerdFontMono 14";
 combi-modi: "window,apps,drun";
 drun-display-format: "{name} [<span weight='light' size='small'><i>({exec})</i></span>]";
 }
@theme "catppuccin"
